<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <div id="toggle-nav" class="visible-xs">
			<span data-action="toggle-nav" class="action mt-menu-label">
				<span class="mt-menu-bread mt-menu-bread-top">
					<span class="mt-menu-bread-crust mt-menu-bread-crust-top"></span>
				</span>
				<span class="mt-menu-bread mt-menu-bread-middle">
					<span class="mt-menu-bread-crust mt-menu-bread-crust-middle"></span>
				</span>
				<span class="mt-menu-bread mt-menu-bread-bottom">
					<span class="mt-menu-bread-crust mt-menu-bread-crust-bottom"></span>
				</span>
			</span>
        </div>

        <h1 class="logo">
            <a href="">
                <img class="o-logo" src="./images/deer.png" alt=""/>
                <img class="ione-logo" src="./images/ione.png" alt=""/>
                <span class="text-logo">Minimal Ecomerce Theme</span>
                <img class="logo-sticky" src="./images/logo-sticky.png" alt=""/>
            </a>
        </h1>

        <nav id="main-menu">
            <div class="container clever-menu wrap-main-menu padding-0">
                <ul>
                    <li class="level0 parent mega first">

                        <a href="">home</a>
                        <span class="toggle-icon cs-font clever-icon-plus"></span>
                        <ul>
                            <li class="level1 col-sm-3">

                                <a class="parent-mega" href="#">Home pages</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level1"><a href="./index.html">Home Minimal</a></li>
                                    <li class="level1"><a href="./index-02.html">Home Best Selling</a></li>
                                    <li class="level1"><a href="./index-03.html">Home Collection Masonry</a></li>
                                </ul>
                            </li>
                            <li class="level1 col-sm-3">

                                <a class="parent-mega" href="#">Home pages</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level1"><a href="./index-04.html">Home Collection Grid</a></li>
                                    <li class="level1"><a href="./index-05.html">Home Lookbook</a></li>
                                    <li class="level1"><a href="./index-06.html">Home Header Transparency</a></li>
                                </ul>
                            </li>
                            <li class="level1 col-sm-3">

                                <a class="parent-mega" href="#">COMMING SOON PAGES</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level1"><a href="./index-05.html">Home Lookbook</a></li>
                                    <li class="level1"><a href="#">Home Dark Style</a></li>
                                </ul>
                            </li>
                            <li class="level1 col-sm-3 last">

                                <a class="parent-mega" href="#">HEADER</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level1"><a href="">Header Menu Stack Center</a></li>
                                    <li class="level1"><a href="./index-03.html">Header Menu Center</a></li>
                                    <li class="level1"><a href="./index-05.html">Header Logo Center</a></li>
                                    <li class="level1"><a href="#">Header Menu Right</a></li>
                                    <li class="level1"><a href="#">Header Vertical Left</a></li>
                                    <li class="level1"><a href="#">Header Transparency</a></li>
                                </ul>
                            </li>
                            <li class="level1 col-sm-6 none-bd hidden-xs">
                                <a href="#"><img src="./images/mega-menu-1.jpg" alt=""></a>
                            </li>
                            <li class="level1 col-sm-6 none-bd hidden-xs">
                                <a href="#"><img src="./images/mega-menu-2.jpg" alt=""></a>
                            </li>
                        </ul>
                    </li>
                    <li class="level0 parent mega has-bg"><a href="./category.html">shop</a>
                        <span class="toggle-icon cs-font clever-icon-plus"></span>
                        <ul>
                            <li class="level1 col-sm-3 hidden-xs none-bd padding-0">
                                <a href=""><img src="./images/mg-g2.jpg" alt=""></a>
                            </li>
                            <li class="level1 col-sm-3">
                                <a class="parent-mega" href="#">Collection Layout</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level2"><a href="./category.html">Left Sidebar</a></li>
                                    <li class="level2"><a href="./category-right-sidebar.html">Right Sidebar</a></li>
                                    <li class="level2"><a href="./category-without-sidebar.html">Without Sidebar</a></li>
                                    <li class="level2"><a href="./category-left-right-sidebar.html">Left Right Sidebar</a></li>
                                    <li class="level2"><a href="./index-03.html">Collection Masonry</a></li>
                                </ul>
                            </li>

                            <li class="level1 col-sm-3">
                                <a class="parent-mega" href="#">Product Layout</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level2"><a href="./product-detail.html">Product — Horizontal More View</a></li>
                                    <li class="level2"><a href="./product-detail-vertical.html">Product — Vertical More View</a></li>
                                </ul>
                            </li>

                            <li class="level1 col-sm-3 last">
                                <a class="parent-mega" href="#">Product Demos</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level2"><a href="#">Simple</a></li>
                                    <li class="level2"><a href="#">Variable</a></li>
                                    <li class="level2"><a href="#">Grouped</a></li>
                                    <li class="level2"><a href="#">External/Affiliate</a></li>
                                    <li class="level2"><a href="#">On Sale with count down</a></li>
                                    <li class="level2"><a href="#">On Sale</a></li>
                                    <li class="level2"><a href="#">Out of Stock</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="level0 parent mega has-bg"><a href="#">Features</a>
                        <span class="toggle-icon cs-font clever-icon-plus"></span>
                        <ul>
                            <li class="level1 col-sm-3">
                                <a class="parent-mega" href="#">Pages</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level2"><a href="./blog.html">blog</a></li>
                                    <li class="level2"><a href="./blog-detail.html">Blog detail page</a></li>
                                    <li class="level2"><a href="./about.html">about</a></li>
                                    <li class="level2"><a href="./contact.html">contact</a></li>
                                </ul>
                            </li>
                            <li class="level1 col-sm-3 last">
                                <a class="parent-mega" href="#">Woocommer pages</a>
                                <span class="toggle-icon cs-font clever-icon-plus"></span>
                                <ul class="mega-item">
                                    <li class="level2"><a href="#">cart</a></li>
                                    <li class="level2"><a href="#">checkout</a></li>
                                    <li class="level2"><a href="#">my account</a></li>
                                    <li class="level2"><a href="#">wishlist</a></li>
                                </ul>
                            </li>
                            <li class="level1 col-sm-6 last hidden-xs padding-0">
                                <a href=""><img src="./images/mg-b3.jpg" alt=""></a>
                            </li>
                        </ul>
                    </li>
                    <li class="level0"><a href="#">buy Template</a></li>
                </ul>
            </div>
        </nav>

        <section class="header-right container">
            <div class="right-content">
                <div class="item addto-top">
                    <div class="minicart">
                        <span class="cart-icon"><span class="cs-font clever-icon-cart-3"></span><span class="counter-number">0</span></span>
                        <div id="minicart-popup">
                            <h3 class="mp-title"><span>MY CART</span>
                                <a href="javascript:void(0)" id="btn-minicart-close" class="pull-right close-minicart">
                                    <span class="cs-font clever-icon-close"></span>
                                </a>
                            </h3>
                            <div class="mp-content">
                                <div class="bg-cart-empty"></div>
                            </div>
                        </div>
                        <div class="shadow-popup"></div>
                    </div>
                </div>
                <div class="item user">
                    <span class="cs-font clever-icon-user-2"></span>
                    <div class="top-bar-dropdown">
                        <div id="currencies-top" class="">
                            <label>Currency: </label>
                            <div class="dropdown-currency">
                                <ul id="currencies" class="currencies_ul list-unstyle">
                                    <li class="">
                                        <a data-currency="USD" class=" currency selected" rel="nofollow">USD</a>
                                    </li>
                                    <li class="">
                                        <a data-currency="EUR" class=" currency " rel="nofollow">EUR</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cusstom-link">
                            <ul class="customer-links">
                                <li class="wishlist-menu"><i class="fa fa-heart" aria-hidden="true"></i><a href="/pages/wish-list" title="My Wishlist">My Wishlist</a></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><a href="/checkout"><span>Checkout</span></a></li>
                                <li><i class="fa fa-sign-in" aria-hidden="true"></i><a href="/account/login" id="customer_login_link">Sign In</a></li>
                                <li><i class="fa fa-user-plus" aria-hidden="true"></i><a href="/account/register" id="customer_register_link">Create an account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item search">
                    <span class="cs-font clever-icon-search-4"></span>
                    <form>
                        <div class="form-group">
                            <input id="search" type="text" name="q" class="form-control" value="Search for Products" onclick="this.value=='Search for Products'?this.value='':''" onblur="this.value==''?this.value='Search for Products':''" maxlength="128" >
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</body>
</html>
